

.generalHolder:after {
    content: "";
    display: table;
    clear: both;
  }

  .center{
    display: block;
    text-align: center;
    margin-top: 60px; 
    display: inline-block;
  }
  
  .centerDiv{
    display: block;
    text-align: center;
    margin-top: 60px;
  }

  .divider{
    width:35px;
    height:auto;
    display:inline-block;
  }

  .search-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;
    margin-bottom: 15px;
  }